*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: sticky;
    top: 0;
}
.dropdown-menu ul{
    list-style: none;
    padding: 0;

}
.tt{
    display: grid;
}
.dropdown-menu .show{
    display: flex;
}
.btn1{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(21, 21, 194);
    color: white;
}
.btn1:hover{
    background-color: rgb(7, 101, 104);
    color: white;
}
.btns{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    color: blue;
    border: 2px solid black;
}
.btns:hover{
    background-color: rgb(21, 72, 225);
    color: white;
}
.containers h1 {
    color: #253053;
    font-family: ProximaNova-Bold, Helvetica Neue, sans-serif;
    font-weight: 700;
    font-size: 55px; 
    
}
.anne{
    overflow-y: scroll;
    pointer-events: stroke;
    position: sticky;
    top: 0;
    height: 250px;
}
.anne a{
    color: #253053;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.keys h2{
        font-size: 34px;
        font-weight: 650;
        line-height: 36px;
        color: rgb(37 48 83);
        padding-bottom: 20px;  
}
.keys p{
    color: #636B83;
    font-size: 18px;
    width: 750px;
}
.keys span{
    color: #1F294A;
    font-size: 18px;
    font-weight: 550;
}
.btn{
    width: 150px;
    height: 60px;
    background-color: #1D2D79;
    color:white ;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;

}
.btn:hover{
    background-color: #021FA9;
    color: white;
}
.butns{
    width: 270px;
    height: 70px;
    border-radius: 10px;
    background-color: #1F294A;
    color: white;
    font-weight: 500;
    font-size: 21px;
    font-family: ProximaNova-Bold, Helvetica Neue, sans-serif;

}
.butns:hover{
    background-color: #021FA9;
    color: white;
}





























































.footer-s{
    background-color: #253053;
}
.ft1{
    color: white;
    margin-left: 50px;
}
.ft2{
    color: white;
    margin-left: 90px;
}
.ft3{
    color: white;
    margin-left: 90px;
}
.ft4{
    color: white;
    margin-left: 20px;
    
}
.ft5{
    color: white;
    margin-left: 600px;
    margin-top: 50px;
}
.s7{
  margin: 50px;
}
.rs{
    color: white;
    font-weight:800 ;
}
.btg{
    background-color: #253053;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
}
.btg:hover{
    background-color: #021FA9;
    color: #FFFFFF;
    font-weight: 700;
}